.position {border: 1px solid;}
.ye {background: yellow;}
.yg {background: yellowgreen;}
.red {background: rgb(245, 73, 73);}

.outer {position: relative;}
/*outer박스가 기준이 됨*/

#first {
    width: 300px;
    height: 300px;
}
#second {
    width: 200px;
    height: 200px;
    position: absolute;
    /*outer박스 기준으로*/
    top: 50px; 
    left: 50px;
}
#third {
    width: 100px;
    height: 100px;
    position: absolute;
    /*outer박스 기준으로*/
    top: 100px;
    left: 100px;
}

#fixed-area {
    width: 100px;
    height: 100px;
    /* position: fixed; */
}

.outer2 { position: relative;}
.z-index {
    border: 1px solid;
    width: 150px;
    height: 150px;
    position: absolute;
}
#z1 {
    top: 100px;
    left: 100px;
    z-index: 3;
    /*숫자가 없으면 가장 낮음*/
}
#z2 {
    top: 50px;
    left: 50px;
    z-index: 2;
}
#z3 {
    z-index: 1;
}

.visi {
    width: 100px;
    height: 100px;
}

.float-test {
    border: 1px solid;
    width: 50px;
    height: 50px;
    float: left; /*right*/
}

