body {
    width: 100%;
    margin: 0 auto;
}

/* header */
#logo {
    height: 30px;
    margin-bottom: 10px;

}
#login {
    height: 20px;
    margin-bottom: 15px;
    margin-left: 5px;
}
#titleImg {
  display: none;
}

/* navi */
.navi {
background-color: rgb(0, 0, 0);
padding: 5px;
}
nav a {
    text-align: center;
    width: 100%;
    color: white;
    margin: 15px;
}

/* 본문 */
section {
    width: 100%;
}

h3 {
    margin: 20px;
}

h4 {
    margin: 15px;
}
p {
    margin: 10px;
}

aside img {
    width: 100%;
    margin-top: 5px;
    height: 200px;
}

/* footer */
footer {
    background-color: black;
    color: white;
    text-align: center;
}